.meetup__header{
    text-align: center;
}

.meetup__header h3 {
    color: rgba(0, 0, 0, 0.817);
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.meetup {
    background-color: rgb(57, 7, 104);
    width: 40rem;
    padding: 2rem 1.25rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    position: relative;
}

.meetup__content {
    display: flex;
    gap: 2rem;
}

.meetup__place {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.meetup__place img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.meetup__description {
    color: white;
    margin-top: 10px;
}

.meetup__description h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.meetup__description p {
    font-style: italic;
    margin-top: 10px;
}

.btn {
    background-color: rgb(250, 200, 250);
    border-radius: 1rem;
    height: 3rem;
    width: 10rem;
    /* padding: 3rem 10rem; */
    border: none;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    color: rgb(57, 7, 104);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}